<!doctype html>
<title>{% block title %}Welcome{% endblock %} | Twilio Call</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Twilio Call</h1>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

<div class="body">
  <h2>Make A Call</h2>
  
  <div class="callBox">
    <h3>Who would you like to call?</h3>
    <form action="{{ url_for('add_call') }}" method="post">
      What number are you calling?
      <p><input type="text" name="call_number" size="60"><br>
      What number are you calling from (verified on Twilio account)?
      <p><input type="text" name="call_number_from" size="60"><br>
      Input the SID associated with the account:
      <p><input type="text" name="account_sid" size="60"><br>
      Input the authentication token associated with the account:
      <p><input type="text" name="auth_token" size="60"><br>
      Select a date and time for the call:
      <p><input type="datetime-local" name="time_to_call" size="60"><!--
      --><input type="submit" value="Share">
    </form>
  </div>
</div>
  <div class="footer">
    Daniel Prado
  </div>
</div>