<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>MiniTwit</h1>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="body">
<h2>Make A Call</h2>
  
  <div class="callBox">
    <h3>Who would you like to call?</h3>
    <form action="{{ url_for('add_call') }}" method="post">
      What should the call say?
      <p><input type="text" name="call_content" size="60"><br>
      What number are you calling?
      <p><input type="text" name="call_number" size="60"><br>
      Select a date and time for the call:
      <p><input type="datetime-local" name="time_to_call" min ="2015-10-24" size="60"><!--
      --><input type="submit" value="Share">
    </form>
  </div>
  <h2>Pending Calls</h2>
  <ul class="calls">
  {% for call in calls %}
    <li>Call Number: "{{ call.get_call_number()}}", Call Time: "{{ call.get_call_time()}}", Call Content: "{{ call.get_call_content()}}"</li>
  {% endfor %}
  </ul>






  </div>
  <div class="footer">
    MiniTwit &mdash; A Flask Application
  </div>
</div>